@page "/button/overview"

<h2>Button / Overview</h2>
<div class="sample-block" id="button-overview">
    <IntegralUIButton>Button 1</IntegralUIButton>
    <IntegralUIButton>Button 2</IntegralUIButton>
    <IntegralUIButton>Button 3</IntegralUIButton>
    <div class="feature-help">
        <p><span class="initial-space"></span><strong><span class="code-name">IntegralUI</span> Button</strong> is a Blazor Component that represents a button. It is fully customizable via CSS.</p>
        <p><span class="initial-space"></span>The following properties and events are supported:</p>
        <ul class="feature-points">
            <li><span class="code-name">AllowAnimation</span> - Determines whether component appearance is animated or not</li>
            <li><span class="code-name">AllowFocus</span> - Determines whether component can have the input focus</li>
            <li><span class="code-name">Data</span> - Specifies an object that holds data related to the component</li>
            <li><span class="code-name">Enabled</span> - Determines whether the component is enabled or disabled</li>
            <li><span class="code-name">Name</span> - Uniquely identifies the component</li>
            <li><span class="code-name">Checked</span> - Specifies whether Button is checked or not: true or false</li>
            <li><span class="code-name">State</span> - Specifies the component state: Normal or Selected.</li>
            <li class="feature-points-break"><br /></li>
            <li><span class="code-name">CheckedChanged</span> - Occurs when Checked property changes</li>
        </ul>
    </div>
</div>

@code {

}
