@page "/calendar/overview"

<h2>Calendar / Overview</h2>
<div class="sample-block" id="datepicker-overview">
    <IntegralUICalendar Size="@ctrlSize" DateChanged="@dateChanged"></IntegralUICalendar>
    <div class="feature-help">
        <p><span class="initial-space"></span><strong><span class="code-name">IntegralUI</span> Calendar</strong> is a Blazor Component that enables the user to calendar a date using a visual monthly calendar display. This component is fully customizable via CSS.</p>
        <p><span class="initial-space"></span>The following properties and events are supported:</p>
        <ul class="feature-points">
            <li><span class="code-name">AllowAnimation</span> - Determines whether component appearance is animated or not</li>
            <li><span class="code-name">AllowFocus</span> - Determines whether component can have the input focus</li>
            <li><span class="code-name">Culture</span> - Specifies the current CultureInfo used to create the date format</li>
            <li><span class="code-name">Data</span> - Specifies an object that holds data related to the component</li>
            <li><span class="code-name">Enabled</span> - Determines whether the component is enabled or disabled</li>
            <li><span class="code-name">FirstDayOfWeek</span> - Specifies the first day of the week in the calendar</li>
            <li><span class="code-name">Locales</span> - Specifies the current localization string in use</li>
            <li><span class="code-name">Name</span> - Uniquely identifies the component</li>
            <li><span class="code-name">SelectedDate</span> - The date that is currently selected</li>
            <li><span class="code-name">Size</span> - Specifies the component width and height in pixels.</li>
            <li><span class="code-name">State</span> - Specifies the component state: Normal or Selected.</li>
            <li><span class="code-name">TodayDate</span> - The current day</li>
            <li class="feature-points-break"><br /></li>
            <li><span class="code-name">DateChanged</span> - Occurs when SelectedDate property changes</li>
            <li><span class="code-name">EnabledChanged</span> - Occurs when Enabled property changes</li>
            <li><span class="code-name">SizeChanged</span> - Occurs when component size changes</li>
            <li><span class="code-name">StateChanged</span> - Occurs when State property changes</li>
        </ul>
    </div>
</div>

@code {
    public IntegralUISize ctrlSize = new() { Width = 400, Height = 300 };

    private void dateChanged(DateTime date)
    {
        Console.WriteLine($"Calendar date changed to: {date}");
    }

}
