@inherits LayoutComponentBase

<div>
    <div class="header">
        <div class="header-block">
            <div class="header-content">
                <h1><span class="code-name">IntegralUI</span> <span class="header-title">for Blazor</span></h1>
            </div>
        </div>
        <hr class="head-separator" />
    </div>
    <div class="navigator-tree">
        <NavList />
    </div>
    <div class="feature">
        @Body
    </div>
</div>