.sample-block {
    margin: 100px 0 0 0;
 
    --iui-button-display: block;
    --iui-button-margin: 20px 5px 0 auto;
    --iui-button-padding: 3px;
    --iui-button-width: 50px;
}
.sample-block-content {
    border: thin solid #cecece;
    padding: 50px 25px;
}
.popover-header {
    background: var(--iui-popover-header-background, #e5e5e5);
    border-bottom: var(--iui-popover-header-border-bottom, thin solid #cecece);
    padding: 5px;
}
.popover-header:hover {
    background: var(--iui-popover-header-hovered-background, #efefef);
}
.popover-title {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}
.popover-close-button {
    opacity: 0.5;
}
.popover-close-button:hover {
    opacity: 1;
}
.popover-close-button span {
    background-image: url(/resources/icons/close-dark.ico);
    display: inline-block;
    float: right;
    height: 16px;
    margin: 5px 3px 0 0;
    overflow: hidden;
    padding: 0;
    width: 16px;
}
.popover-content {
    background: #ffffee;
    color: #2424cc;
    font-style: italic;
    padding: 10px;
    width: 250px;
}
