@page "/list/overview"

<link rel="stylesheet" href="css/list/ListOverview.css?version=24.1.1" />

<h2>List / Overview</h2>
<div class="sample-block">
    <IntegralUIList @ref=listRef Id="list-overview" TItem="CustomItem"
        Items="@items"
        MouseWheelSpeed="IntegralUISpeedMode.VerySlow"
        Size="@ctrlSize">
        <ItemTemplate>
            <span class="@getIconClass(@context.Item)"></span>
            <span>@context.Item?.Text</span>
        </ItemTemplate>
    </IntegralUIList>
    <div class="feature-help">
        <p><span class="initial-space"></span><strong><span class="code-name">IntegralUI</span> List</strong> is a Blazor Component that represents a simple list of HTML elements or Blazor components displayed in custom layouts.</p>
    </div>
</div>

@code {
    private IntegralUIList<CustomItem>? listRef;

    public class CustomItem
    {
        public string? Id { get; set; }
        public string? Genre { get; set; }
        public double Rating { get; set; }
        public bool Selected { get; set; } = false;
        public string? Text { get; set; }
        public int Year { get; set; }
    }

    public IntegralUISize ctrlSize = new() { Width = 350, Height = 300 };

    public List<CustomItem> items = new()
    {
        new CustomItem { Id = "1", Genre = "Sci-Fi", Text = "Star Trek", Year = 2009, Rating = 8 },
        new CustomItem { Id = "2", Genre = "Adventure", Text = "Cast Away", Year = 2000, Rating = 7 },
        new CustomItem { Id = "3", Genre = "Action", Text = "Gladiator", Year = 2000, Rating = 8 },
        new CustomItem { Id = "4", Genre = "Drama", Text = "Malèna", Year = 2000, Rating = 7 },
        new CustomItem { Id = "5", Genre = "Music", Text = "Moulin Rouge", Year = 2001, Rating = 7 },
        new CustomItem { Id = "6", Genre = "Comedy", Text = "Snatch", Year = 2000, Rating = 8 },
        new CustomItem { Id = "7", Genre = "Biography", Text = "A Beautiful Mind", Year = 2001, Rating = 8 },
        new CustomItem { Id = "8", Genre = "Crime", Text = "Black Hawk Down", Year = 2001, Rating = 7 },
        new CustomItem { Id = "9", Genre = "Western", Text = "Django Unchained", Year = 2012, Rating = 8 },
        new CustomItem { Id = "10", Genre = "Sci-Fi", Text = "Man of Steel", Year = 2013, Rating = 7 },
        new CustomItem { Id = "11", Genre = "Horror", Text = "The Ring", Year = 2002, Rating = 7 },
        new CustomItem { Id = "12", Genre = "Romance", Text = "40 Days and 40 Nights", Year = 2002, Rating = 5 },
        new CustomItem { Id = "13", Genre = "Sci-Fi", Text = "Minority Report", Year = 2002, Rating = 7 },
        new CustomItem { Id = "14", Genre = "Comedy", Text = "Scary Movie 3", Year = 2003, Rating = 5 },
        new CustomItem { Id = "15", Genre = "Music", Text = "Walk the Line", Year = 2005, Rating = 7 },
        new CustomItem { Id = "16", Genre = "Romance", Text = "How to Lose a Guy in 10 Days", Year = 2003, Rating = 6 },
        new CustomItem { Id = "17", Genre = "Crime", Text = "The Dark Knight", Year = 2008, Rating = 9 },
        new CustomItem { Id = "18", Genre = "Horror", Text = "American Psycho", Year = 2000, Rating = 7 },
        new CustomItem { Id = "19", Genre = "Drama", Text = "The Grand Budapest Hotel", Year = 2014, Rating = 8 },
        new CustomItem { Id = "20", Genre = "Comedy", Text = "The Wolf of Wall Street", Year = 2013, Rating = 8 }
    };

    // Styling ---------------------------------------------------------------------------------------------------------------

    private string getIconClass(CustomItem? item)
    {
        string className = "lst-ovw-icons";

        if (item is not null)
        {
            if (!string.IsNullOrEmpty(item.Genre))
                className += $" {item.Genre.ToLower()}";
        }

        return className;
    }
}
