@page "/tooltip/overview"

<h2>Tooltip / Overview</h2>
<div class="sample-block">
    <IntegralUITooltip Settings="@currentSettings" Title="A simple Tooltip">
        <ChildContent>
            <div style="border:thin solid #cecece;padding: 25px;">Move Mouse Cursor to Show a Tooltip</div>
        </ChildContent>
    </IntegralUITooltip>
    <div class="feature-help">
        <p><span class="initial-space"></span><strong><span class="code-name">IntegralUI</span> Tooltip</strong> is a Blazor Component that represents a tooltip. It provides functionality that allows you to add a tooltip that will be displayed at specified position, with initial delay and will remain visible by specified amount of time.</p>
        <p><span class="initial-space"></span>The following properties and events are supported:</p>
        <ul class="feature-points">
            <li><span class="code-name">Adjustment</span> - specifies the X and Y values by which Left and Top positions are adjusted</li>
            <li><span class="code-name">AllowAnimation</span> - determines whether animations are allowed or not, default is true</li>
            <li><span class="code-name">ColorScheme</span> - specifies the current color scheme in use: Light or Dark, by default is set to Light</li>
            <li><span class="code-name">Enabled</span> - determines whether the PopOver is enabled or disabled</li>
            <li><span class="code-name">Name</span> - Uniquely identifies the component</li>
            <li><span class="code-name">Settings</span> - specifies the component settings like: Activation, AutoPopDelay, InitialDelay, Position and ShowMarker</li>
            <li><span class="code-name">Theme</span> - specifies the current Theme in use, by default is set to Office</li>
            <li><span class="code-name">Title</span> - specifies the tooltip text</li>
            <li><span class="code-name">EnabledChanged</span> - occurs when Enabled property value changes</li>
        </ul>
        <p><span class="initial-space"></span>Tooltip shows only a single line of text. For additional HTML content, you can use the PopOver component.</p>
    </div>
</div>

@code {
    private IntegralUIPopupSettings currentSettings = new()
        {
            Activation = IntegralUIPopupActivation.Auto,
            AutoPopDelay = 3000,
            InitialDelay = 500,
            Position = IntegralUIDisplayPosition.Mouse,
            ShowMarker = true
        };

}
