@page "/card/overview"

<link rel="stylesheet" href="css/card/CardOverview.css?version=0.0.955" />

<h2>Card / Overview</h2>
<div class="sample-block">
    <IntegralUICard @ref=cardRef Flipped="@isCardFlipped" Size="@ctrlSize" Click="@cardClicked">
        <FrontContentTemplate>
            <div class="card-front-header">
                Header
            </div>
            <div class="card-front-content">
                <span>Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit. Etiam tempor.</span>
            </div>
            <div class="card-front-footer">
                <span>Footer</span>
            </div>
        </FrontContentTemplate>
        <BackContentTemplate>
            <div class="card-back-content">
                <div>Pellentesque malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque. Aliquam faucibus, elit ut dictum aliquet, felis nisl adipiscing sapien, sed malesuada diam lacus eget erat. Cras mollis scelerisque nunc. Nullam arcu. Aliquam consequat.</div>
            </div>
        </BackContentTemplate>
    </IntegralUICard>
    <div class="feature-help">
        <p><span class="initial-space"></span><strong><span class="code-name">IntegralUI</span> Card</strong> is a Blazor Component that represents a content container. It consists of front and back side where you can add custom HTML content seperately using templates. In addition, card appearance is customizable via CSS.</p>
        <p><span class="initial-space"></span>In this example, the front side contains header, content and footer while the back side only the content is filled. By clicking anywhere on the Card, you can flip its side.</p>
    </div>
</div>

@code {
    protected IntegralUICard? cardRef;
    private IntegralUISize ctrlSize = new() { Width = 250 };
    private bool isCardFlipped = false;

    private void cardClicked()
    {
        isCardFlipped = !isCardFlipped;
    }
}
