.card-front-header {
    background: #0a64ad;
    border: thin solid #0a64ad;
    border-width: 0 0 thin 0;
    color: white;
    padding: 5px;
}
.card-front-header:hover {
    background: #1679c9;
    border-color: #1679c9;
}
.card-front-content {
    background: white;
    overflow: auto;
    padding: 5px;
}
.card-front-footer {
    background: #e2e2e2;
    border: thin solid #e2e2e2;
    border-width: thin 0 0 0;
    padding: 5px;
}
.card-back-content {
    background: white;
    overflow: auto;
    padding: 5px;
}